<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/Untitled-2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="UTF-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="The Doctors Menu" type="boolean" value="false" -->
<!-- InstanceParam name="The Companions" type="boolean" value="true" -->
<!-- InstanceParam name="The Villains" type="boolean" value="false" -->
<link href="../styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	;
}
body {
	background-image: url(../Images/background.gif);
}
</style>
</head>

<body>
<table width="950">
  <tr>
    <td width="237" class="home"><a href="../index.html">Home</a></td>
    <td width="236" class="home"><a href="../the-gallaghers/index.html" class="home">The Gallaghers</a></td>
    <td width="237" class="home"><a href="index.html">Main Charcters </a></td>
    <td width="220" class="villains"><a href="../About The Series.html" class="home">About The Series </a></td>
  </tr>
  <tr>
    <td colspan="4"><!-- InstanceBeginEditable name="Banner" --><!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="950">
  <tr>
    <td class="nav"><ul>
      
    </ul>
      <ul>
        <a href="kevin.html">
        </a>
        <li><a href="kevin.html">Kevin Ball</a></li>
        <li><a href="veronica.html">Veronica Ball</a></li>
        <li><a href="sheila.html">Sheila Jackson</a></li>
        <li><a href="mickey.html">Mickey Milkovich</a></li>
        <li><a href="sammi.html">Sammi Slott</a></li>
        
      </ul>
    <a href="../About The Series.html"></a></td>
    <td class="content"><!-- InstanceBeginEditable name="Content" -->
      <h1><img src="../Images/kev.jpg" width="250" height="250"></h1>
      <h1>Kevin Ball </h1>
      <p>Kevin &quot;Kev&quot; Ball (Steve Howey) is the bartender and owner of the Alibi Room (the one bar from which Frank has not been banned) and the Gallaghers' neighbor and friend. Though frequently exasperated by Frank's lifestyle, he gives Frank drinks on credit and cashes his disability checks for him. He and Veronica have a successful relationship, though he is technically married to another woman who previously left him. He is dyslexic and grew up in foster care, living with several families.</p>
<!-- InstanceEndEditable --></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
<!-- InstanceEnd --></html>
