<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Shameless Template 2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="file:///Macintosh HD/Users/communication/Desktop/Shameless2/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
<div class="navigation"><!-- InstanceBeginEditable name="Navigation" -->Navigation<!-- InstanceEndEditable -->
    <table width="950">
  <tr>
    <td width="237" class="home"><a href="file:///Macintosh HD/Users/communication/Desktop/Shameless2/index.html">Home</a></td>
    <td width="236" class="doc"><a href="file:///Macintosh HD/Users/communication/Desktop/Shameless2/the-doctors/index.html">The Gallaghers</a></td>
    <td width="237" class="companions"><a href="file:///Macintosh HD/Users/communication/Desktop/Shameless2/the-companions/index.html">Main Characters</a></td>
    <td width="220" class="villains"><a href="file:///Macintosh HD/Users/communication/Desktop/Shameless2/the-villains/index.html">About The Series</a></td>
  </tr>
</table>

  <div class="wrapper">
<div class="banner"><!-- InstanceBeginEditable name="Banner" -->Banner<!-- InstanceEndEditable -->
</div> 
  </div>
    
    
    <table width="950">
  <tr>
    <td class="nav"><ul>
    	<li><a href="../the-gallaghers/">The Gallaghers</a></li>
        <li><a href="../the-gallaghers/frank.html">Frank Gallagher</a></li>
        <li><a href="../the-gallaghers/monica.html">Monica Gallagher</a></li>
        <li><a href="../the-gallaghers/fiona.html">Fiona Gallagher</a></li>
        <li><a href="../the-gallaghers/philip.html">Philip &quot;Lip&quot; Gallagher</a></li>
        <li><a href="../the-gallaghers/ian.html">Ian Gallagher</a></li>
        <li><a href="../the-gallaghers/debbie.html">Debbie Gallagher</a></li>
        <li><a href="../the-gallaghers/carl.html">Carl Gallagher</a></li>
        <li><a href="../the-gallaghers/liam.html">Liam Gallagher</a></li>

    </ul>
      <ul>
    		<li><a href="../main-characters/"> Main Characters</a></li>
          <li><a href="kevin.html">Kevin Ball </a></li>
          <li><a href="veronica.html">Veronica Ball </a></li>
          <li><a href="sheila.html">Sheila Jackson</a></li>
          <li><a href="mickey.html">Mickey Milkovich</a></li>
          <li><a href="sammi.html">Sammi Slott</a></li>
      </ul>
    </tr>
</table>
    
    
    
    
    
	<div class="content"><!-- InstanceBeginEditable name="Content" -->
	  <h1>Sheila Jackson</h1>
	  <p>Sheila Jackson (Joan Cusack) is an agoraphobic germaphobe. Sheila developed her conditions when her daughter, Karen, was young and has tried to overcome them for years. Frank seduces her in order to live in her home, taking advantage of her cooking, disability checks and bedroom hospitality. Sheila is a kind and caring person, if a bit empty-headed. Sheila eventually overcomes her condition and continues to spend a great deal of her time with Frank. </p>
	  <h1>&nbsp;</h1>
	<!-- InstanceEndEditable -->
    

	</div>
</div>







</body>
<!-- InstanceEnd --></html>
