<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/Untitled-2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="UTF-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="The Doctors Menu" type="boolean" value="false" -->
<!-- InstanceParam name="The Companions" type="boolean" value="true" -->
<!-- InstanceParam name="The Villains" type="boolean" value="false" -->
<link href="../styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background-color: #CCC;
}
</style>
</head>

<body>
<table width="950">
  <tr>
    <td width="237" class="home"><a href="../index.html">Home</a></td>
    <td width="236" class="doc"><a href="../the-gallaghers/index.html">The Gallaghers</a></td>
    <td width="237" class="companions"><a href="index.html">Main Charcters </a></td>
    <td width="220" class="villains"><a href="../About The Series.html">About The Series </a></td>
  </tr>
  <tr>
    <td colspan="4"><!-- InstanceBeginEditable name="Banner" --><!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="950">
  <tr>
    <td class="nav"><ul>
      
    </ul>
      <ul>
        <a href="kevin.html">
        </a>
        <li><a href="kevin.html">Kevin Ball</a></li>
        <li><a href="veronica.html">Veronica Ball</a></li>
        <li><a href="sheila.html">Sheila Jackson</a></li>
        <li><a href="mickey.html">Mickey Milkovich</a></li>
        <li><a href="sammi.html">Sammi Slott</a></li>
        
      </ul>
    <a href="../About The Series.html"></a></td>
    <td class="content"><!-- InstanceBeginEditable name="Content" -->
      <h1><img src="../Images/veronica.jpg" width="250" height="250"></h1>
      <h1>Veronica Ball</h1>
      <p>Veronica &quot;Vee&quot; Ball&nbsp;(Shanola Hampton) is the Gallaghers' neighbor and Fiona's best friend and confidante; she often gives Fiona advice concerning relationships, caring for her siblings, and caring for herself. Always willing and able to lend a hand, Veronica had pursued a medical career until she was fired from the hospital for stealing medical supplies. She currently works as a webcam girl.</p>
<!-- InstanceEndEditable --></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
<!-- InstanceEnd --></html>
