<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/Untitled-2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="UTF-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="The Doctors Menu" type="boolean" value="true" -->
<!-- InstanceParam name="The Companions" type="boolean" value="false" -->
<!-- InstanceParam name="The Villains" type="boolean" value="false" -->
<link href="../styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	;
}
body {
	background-image: url(../Images/background.gif);
}
</style>
</head>

<body>
<table width="950">
  <tr>
    <td width="237" class="home"><a href="../index.html">Home</a></td>
    <td width="236" class="home"><a href="index.html" class="home">The Gallaghers</a></td>
    <td width="237" class="home"><a href="../main-characters/index.html">Main Charcters </a></td>
    <td width="220" class="villains"><a href="../About The Series.html" class="home">About The Series </a></td>
  </tr>
  <tr>
    <td colspan="4"><!-- InstanceBeginEditable name="Banner" --><!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="950">
  <tr>
    <td class="nav"><ul>
      
        <li><a href="frank.html">Frank Gallagher</a></li>
        <li><a href="monica.html">Monica Gallagher</a></li>
        <li><a href="fiona.html">Fiona Gallagher</a></li>
        <li><a href="lip.html">Philip &quot;Lip&quot; Gallager</a></li>
        <li><a href="ian.html">Ian Gallager</a></li>
        <li><a href="debbie.html">Debbie Gallager </a></li>
        <li><a href="carl.html">Carl Gallager</a></li>
        <li><a href="liam.html">Liam Gallager </a></li>
        
    </ul>
      <ul>
        <a href="../main-characters/kevin.html"></a>
      </ul>
    <a href="../About The Series.html"></a></td>
    <td class="content"><!-- InstanceBeginEditable name="Content" -->
      <h1><img src="../Images/carl.jpg" width="250" height="250"></h1>
      <h1>Carl Gallagher<br>
        <br>
      </h1>
Carl Francis Gallagher (Ethan Cutkosky) is the second-youngest Gallagher child (14). He shares a room with older brothers Lip and Ian, who try to keep their more adult interests from him. Carl is often in trouble at school for attacking other students. In his early years, he displays several psychopathic tendencies such as mutilating his toys and killing stray animals, although this behavior seems to be less prevalent as he ages, and he begins to show concern for Frank. <!-- InstanceEndEditable --></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
<!-- InstanceEnd --></html>
