<!DOCTYPE HTML>
<html><!-- InstanceBegin template="/Templates/Untitled-2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="UTF-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="The Doctors Menu" type="boolean" value="true" -->
<!-- InstanceParam name="The Companions" type="boolean" value="false" -->
<!-- InstanceParam name="The Villains" type="boolean" value="false" -->
<link href="../styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	;
}
body {
	background-image: url(../Images/background.gif);
}
</style>
</head>

<body>
<table width="950">
  <tr>
    <td width="237" class="home"><a href="../index.html">Home</a></td>
    <td width="236" class="home"><a href="index.html" class="home">The Gallaghers</a></td>
    <td width="237" class="home"><a href="../main-characters/index.html">Main Charcters </a></td>
    <td width="220" class="home"><a href="../About The Series.html" class="home">About The Series </a></td>
  </tr>
  <tr>
    <td colspan="4"><!-- InstanceBeginEditable name="Banner" --><!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="950">
  <tr>
    <td class="nav"><ul>
      
        <li><a href="frank.html">Frank Gallagher</a></li>
        <li><a href="monica.html">Monica Gallagher</a></li>
        <li><a href="fiona.html">Fiona Gallagher</a></li>
        <li><a href="lip.html">Philip &quot;Lip&quot; Gallager</a></li>
        <li><a href="ian.html">Ian Gallager</a></li>
        <li><a href="debbie.html">Debbie Gallager </a></li>
        <li><a href="carl.html">Carl Gallager</a></li>
        <li><a href="liam.html">Liam Gallager </a></li>
        
    </ul>
      <ul>
        <a href="../main-characters/kevin.html"></a>
      </ul>
    <a href="../About The Series.html"></a></td>
    <td class="content"><!-- InstanceBeginEditable name="Content" -->
      <h1><img src="../Images/lip.jpg" width="250" height="250"></h1>
      <h1>Philip &quot;Lip&quot; Gallagher</h1>
      <p>Phillip &quot;Lip&quot; Gallagher (Jeremy Allen White), born March 29, 1994, is the second Gallagher child and the most academically minded. He was a straight-A student throughout high school, and used his intelligence in various money-making schemes, such as running an ice cream truck that also sold beer and marijuana, or taking the SATs for fellow students (often scoring a 2400, a perfect score) for a fee. Despite his above-average intelligence, his personal life behavior is the opposite; he smokes cigarettes and marijuana, drinks alcohol, pursues casual sexual encounters with any girl, and even steals vehicles. </p>
    <!-- InstanceEndEditable --></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
<!-- InstanceEnd --></html>
